<section class="isthereanydeal-admin">
  <h2>IsThereAnyDeal - Shop Selection</h2>
  <p>Select which shops to monitor for free game deals. If no shops are selected, deals from all shops will be included.</p>

  <div class="isthereanydeal-admin__actions">
    <button
      class="btn btn-primary"
      {{on "click" this.fetchShops}}
      disabled={{this.loading}}
    >
      {{#if this.loading}}
        Loading...
      {{else}}
        Fetch Shops
      {{/if}}
    </button>

    {{#if this.hasShops}}
      <button class="btn btn-default" {{on "click" this.selectAll}}>Select All</button>
      <button class="btn btn-default" {{on "click" this.selectNone}}>Select None</button>
      <button
        class="btn btn-primary"
        {{on "click" this.saveShops}}
        disabled={{this.saving}}
      >
        {{#if this.saving}}
          Saving...
        {{else}}
          Save Selection
        {{/if}}
      </button>
    {{/if}}
  </div>

  {{#if this.saveMessage}}
    <div class="isthereanydeal-admin__message alert alert-success">
      {{this.saveMessage}}
    </div>
  {{/if}}

  {{#if this.loaded}}
    {{#if this.hasShops}}
      <p class="isthereanydeal-admin__count">
        {{this.selectedCount}} of {{this.shops.length}} shops selected
      </p>

      <table class="isthereanydeal-admin__table">
        <thead>
          <tr>
            <th></th>
            <th>Shop</th>
            <th>Active Deals</th>
            <th>Total Games</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.shops as |shop|}}
            <tr
              class={{if shop.selected "isthereanydeal-admin__row--selected"}}
              {{on "click" (fn this.toggleShop shop.id)}}
            >
              <td>
                <input
                  type="checkbox"
                  checked={{shop.selected}}
                  class="isthereanydeal-admin__checkbox"
                />
              </td>
              <td>{{shop.title}}</td>
              <td>{{shop.deals}}</td>
              <td>{{shop.games}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <p>No shops returned from the API. Check that the country setting is valid.</p>
    {{/if}}
  {{/if}}
</section>
